$white: #fff;
$orange-dark: #C2664E;
$orange-dark-light: #DE8A74;
$orange: #FFBF52;
$orange-light: #FFD788;
$red: #F55555;
$red-light: #FC6D6D;
$green: #30A47A;
$green-light: #3DC696;
$green-dark: #113A29;
$green-dark-light: #235840;